{% extends "base.html" %}

{% block title %}О ресторане — WorldBite{% endblock %}

{% block content %}

<div class="about-page">
    <h2>
        О ресторане WorldBite
    </h2>
    <p>
        WorldBite — ресторан уличной еды,
        посвящённый блюдам разных стран мира.
    </p>
    <p>
        Благодаря путшествию по всему миру,
        нам пришла замечательная идея, объеденить кухни в нашем ресторане.
        Многие мечтают отправиться в ту же самую Японию, которая знаменита своим раменом,
        именно поэтому у них появится возможность попробоввать это блюдо у нас.
    </p>
    <p>
        Мы открылись 17 мая 2026 года. Все наши повара разной национальности,
        поэтому не переживайте насчет точности передачи вкуса.
    </p>


    <img
        src="{{ url_for('static', filename='image/seat.png') }}"
        alt="Интерьер ресторана WorldBite"
    >
    <h3>
        Наша идея
    </h3>

    <p>
        Мы хотим познакомить посетителей
        с разными кулинарными традициями в одном месте.
    </p>
    <p>
        Для нас еда — это возможность
        узнать больше о культуре разных стран и попробовать что-то новое.
    </p>

    <a href="{{ url_for('menu') }}" class="button">
        Перейти к меню
    </a>

</div>
{% endblock %}