
{% extends "base.html" %}

{% block title %}О ресторане — WorldBite{% endblock %}

{% block content %}

<h2>О ресторане WorldBite</h2>

<p>
    WorldBite — небольшой ресторан уличной еды,
    посвящённый блюдам разных стран мира.
</p>

<p>
    Благодаря путшествию по всему миру,
    нам пришла замечательная идея, объеденить кухни в нашем ресторане.
    Многие мечтают отправиться в ту же самую Японию, которая знаменита своим раменом,
    именно поэтому у них появится возможность попробоввать это блюдо у нас.
</p>
<p>
    Мы открылись 17 мая 2026 года. Все наши повара разной национальности,
    поэтому не переживайте насчет точности передачи вкуса.
</p>
<p>
    Так же вы можете заметить какой у нас прекрасный нейтральный интерьер,
    который может успокоть ваш взор. Ощущение спокойствия  наслаждения не покинет вас во время трапезы.
</p>
<img src="{{ url_for('static', filename='image/seat.png') }}"
     alt="Фото ресторана"
      style="max-width: 90%; height: auto; display: block;">
<h3>Наша идея</h3>

<p>
    Мы хотим познакомить посетителей с разными
    кулинарными традициями в одном месте. Сплотить людей разных рас и
    национальностей за одним столом и исполнить мечту людей, которые так и не побывали
    за пределами соей страны .
</p>

<!-- Здесь можно разместить фотографию ресторана. -->

<p>
    <a href="{{ url_for('menu') }}">Перейти к меню</a>
</p>
{% endblock %}