<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width, initial-scale=1.0">
    <title>{% block title %}WorldBite{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="site-header">
    <div class="header-inner">
        <a href="{{ url_for('index') }}" class="logo">
            WorldBite
        </a>
        <p class="tagline">Уличная еда со всего мира</p>
        <nav class="main_nav">
            <a href="{{ url_for('index') }}">Главная</a>
            <a href="{{ url_for('menu') }}">Меню</a>
            <a href="{{ url_for('order') }}">Заказать</a>
            <a href="{{ url_for('about') }}">О ресторане</a>
        </nav>
    </div>
</header>
<div class="page-container">
    <main class="page_content">
        {% block content %}{% endblock %}
    </main>
</div>

<footer class="site-footer">
    <p>WorldBite © 2026</p>
    <p>
    Наши контактные данные:
    </p>
    <p>
    Телефон: +7914-256-78-32
    .
    Email: World@bite.ru
    </p>
</footer>
</body>
</html>