{% extends "base.html" %}

{% block title %}{{ dish.name }} — WorldBite{% endblock %}

{% block content %}

<div class="dish-detail">

    <h2>
        {{ dish.name }}
    </h2>

    <img
        src="{{ url_for('static', filename='image/' + dish.image) }}"
        alt="{{ dish.name }}"
    >

    <p class="country">
        Страна:
        <strong>{{ dish.country }}</strong>
    </p>

    <h3>
        О блюде
    </h3>

    <p class="dish-description">
        {{ dish.description }}
    </p>

    <p class="price">
        Цена: {{ dish.price }} руб
    </p>

    <a href="{{ url_for('order') }}" class="button">
        Заказать это блюдо
    </a>

    <p>
        <a href="{{ url_for('menu') }}">
            Вернуться в меню
        </a>
    </p>
</div>

{% endblock %}