{% extends "base.html" %}

{% block title %}Главная — WorldBite{% endblock %}

{% block content %}

<h2>Добро пожаловать в WorldBite!</h2>

<p>
    WorldBite — это ресторан, в котором собраны самые известные кулинарные изобретения
и спойкойный теплый интерьер.
</p>

<p>
    Здесь вы почувствуйте море вкусов и специй. Увидите, чем разные страны удивляют своих жителей,
    и какого это оказаться на улицах вкусовых удовольствий в разных точках мира!
</p>

<img src="{{ url_for('static', filename='image/rest.jpeg') }}"
     alt="Фото ресторана"
      style="max-width: 75%; height: auto; display: block;">
<div>
<h3>Что у нас есть?</h3>

<ul>
    <li>Популярные уличные блюда разных стран</li>
    <li>Простое оформление заказа</li>
    <li>Комфортная обставновка</li>
</ul>

<p>
    Если вы всегда мечтали побывать за границей, то обязательно переходите в наше меню!
</p>
<p>
    <a href="{{ url_for('menu') }}" style="color: #e0d8c3;">Посмотреть меню

    </a>
</p>
</div>
<img src="{{ url_for('static', filename='image/shef.jpg') }}"
     alt="Фото шеф повара"
      style="max-width: 50%; height: auto; display: block;">
<p>
    Наш шеф-повар – настоящий виртуоз кулинарного искусства, который превращает каждый прием пищи в незабываемое гастрономическое путешествие. С многолетним опытом за плечами и творческим подходом к каждому блюду, он создает кулинарные шедевры, которые покоряют сердца даже самых взыскательных гурманов.
</p>
<p>
    Вдохновленный разнообразием мировых кухонь, он мастерски сочетает традиционные рецепты с инновационными техниками, превращая обычные ингредиенты в произведения искусства. Его страсть к еде и умение чувствовать вкусы делают каждое блюдо уникальным и запоминающимся.
</p>
<p>
    В нашем ресторане он не просто готовит – он рассказывает истории через кулинарию, создавая атмосферу уюта и праздника вокруг каждого столика. Благодаря его профессионализму и креативности, каждое посещение ресторана становится особенным событием, которое хочется повторить снова и снова.
</p>
{% endblock %}