{% extends "base.html" %}

{% block title %}WorldBite - Главная{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-content">
        <h1>
            УЛИЧНАЯ ЕДА <br>
            СО ВСЕГО МИРА
        </h1>
        <p>
            Путешествие по разным странам
            через вкус, аромат и атмосферу.
        </p>
        <a href="{{ url_for('menu') }}" class="button">Смотреть меню</a>
    </div>
</section>
<section>
    <h2 class="section-title"> Популярное</h2>
    <div class="popular-grid">
        {% for dish in dishes[:4] %}
        <article class="popular-card">
            <img src="{{ url_for('static', filename='image/'+ dish.image) }}"
                 alt ="{{ dish.name}}">
            <div class="popular-info">
                <h3>
                    {{dish.name}}
                </h3>
                <p class="price">
                    {{ dish.price}} руб
                </p>
                <a href="{{ url_for('dish_detail', dish_id=dish.id) }}">
                    Подробнее:
                </a>
            </div>
        </article>
        {% endfor %}
    </div>
</section>

<section class="about-preview">
    <img src="{{ url_for('static', filename='image/rest.jpeg') }}"
     alt="Фото ресторана WorldBite">
    <div class="about-text">
        <h2>
            WORLDBITE
        </h2>
        <p>
            WorldBite объединяет блюда разных стран в одном пространстве
        </p>
        <p>
            Мексиканские тако, американский бургер, японский рамен,
            турецкий кебаб, итальянская пицца и тайский пад тай -
            всё это можно попробовать в одном месте.
        </p>
        <p>
            Наша идея - превратить обычный прием пищи в небольшое гастрономическое путешествиею
        </p>
        <a href="{{ url_for('about')}}" class="button">
            О ресторане
        </a>
    </div>
</section>

<section class="chef-section">
    <div class="chef-text">
        <h2>Наш шеф-повар</h2>
        <h3>Создатель вкусов WorldBite</h3>
        <p>
            Наш шеф-повар объединяет традиционные рецепты разных стран
            и современные идеи, создавая необычные блюда для гостей.
        </p>
        <p>
            Его цель — показать, что уличная еда может быть не только
            быстрой, но и интересной, разнообразной и вкусной.
        </p>
    </div>

    <img src="{{ url_for('static', filename='image/shef.jpg') }}"
         alt="Шеф-повар WorldBite">
</section>

{% endblock %}