{% extends "base.html" %}

{% block title %}Меню — WorldBite{% endblock %}

{% block content %}

<h2>Меню WorldBite</h2>

<p>Блюда уличной еды со всего мира.</p>

<div class="filter">
    <a href="{{ url_for('menu') }}">Все</a>
    <a href="{{ url_for('menu', country='Мексика') }}">Мексика</a>
    <a href="{{ url_for('menu', country='США') }}">США</a>
    <a href="{{ url_for('menu', country='Япония') }}">Япония</a>
    <a href="{{ url_for('menu', country='Турция') }}">Турция</a>
    <a href="{{ url_for('menu', country='Италия') }}">Италия</a>
    <a href="{{ url_for('menu', country='Таиланд') }}">Таиланд</a>
</div>>

{% if selected_country %}
<p class="selected-country">Сейчас показаны блюда:
    <strong>{{ selected_country }}</strong>
</p>
{% endif %}

{% if dishes %}
<div class="menu-grid">
    {% for dish in dishes %}
    <article class="dish-card">
        <img
    src="{{ url_for('static', filename='image/' + dish.image) }}"
    alt="{{ dish.name }}">
        <div class="dish-info">
            <h3>
                {{ dish.name}}
            </h3>
            <p class="country"> {{ dish.country }}</p>

            <p class="price"> {{ dish.price }} руб</p>

            <a href="{{ url_for('dish_detail', dish_id=dish.id) }}" class="detail-link">
                Подробнее о блюде
            </a>
        </div>
    </article>

    {% endfor %}
</div>
{% else %}
    <p>Блюда этой страны не найдены.</p>
{% endif %}

{% endblock %}